@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e0ecfc;
  background-color: #d4dfed; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23b4b8b9' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"); */
  background-position: center;
  background-attachment: fixed;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* antd overriding */
input {
  height: 2.5rem;
}
input:focus {
  outline: none !important;
  border: 1px solid grey !important;
}
.ant-btn-primary {
  height: 40px !important;
  width: 100% !important;
  margin-top: 1rem !important;  
}
label {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
.ant-form-item {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

/* common */

.spinner-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.637);
}
.spinner-border{
  height: 5rem;
  width: 5rem;
  color: white !important;
}

.card {
  box-shadow: 1px 0 2px grey, inset 0 1px 5px rgb(235, 234, 234);
  outline: none;
  border: 1px solid rgb(188, 186, 186);
  /* background-color: #c3cecb; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23b4b8b9' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E"); */
  background-position: center;
  background-attachment: fixed;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold; 
}
.normal-text {
  font-size: 1rem;
}
.anchor {
  color: rgb(4, 4, 63);
  text-decoration: underline;
}
.anchor:hover {
  color: black;
}

/* register page */
.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authentication-form {
  width: 25rem;
}
.authentication-form .card-title{
  background-color: #1890ff;
  color: whitesmoke;
  padding: .5rem 1rem;
  max-width: max-content;
  margin-left: -2rem;  
  border-bottom-left-radius: .8rem;
  border-top-right-radius: 1.8rem;
  box-shadow: 0 2px 2px grey, inset -2px 2px 5px rgb(231, 230, 230);
}

.password-input{
  /* border: 1px solid black; */
  display: flex;
  /* align-items: center ; */
  /* justify-content: center ; */
  cursor: pointer;

}
.password-input p{
  margin-left: .6rem;
  text-decoration: underline;
}

/* home page */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
