.main{
  padding: 1.2rem;
  /* background-color: red; */
  
}
.layout{
  /* background-color: green; */
}

.sidebar{
  background-color: rgb(122, 122, 247);
  border-radius: 5px;
  box-shadow: 0 0 4px grey;
  margin-right: 1.2rem;
  height: 100vh;
  padding: .8rem;
  min-width: 20%;
  overflow-y: scroll;
} 
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.site-logo{
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(40, 37, 37), -1px -1px 5px rgb(243, 243, 244);
}

.collapsed-sidebar{
  background-color: rgb(122, 122, 247);
  border-radius: 5px;
  box-shadow: 0 0 4px grey;
  margin-right: 1.2rem;
  height: 100vh;
  padding: .8rem;
  min-width: 10%;
}

.content{
  width: 100%;
  height: 100%;
}

.header{
  /* width: 100%; */
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
  margin-bottom: 1.2rem;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification{
  position: relative;
}
.notification-badge{
  position: absolute !important;
  top: -1rem;
  left: -3.5rem;
}
.notification-bell{
  margin-right: -1.5rem;
  
}

.content-body{  
  padding: .1rem 1rem;
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
  height: 84vh;
  overflow-y: scroll;
}
.content-body::-webkit-scrollbar {
  display: none;
}
.content-body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.sidebar-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-header h1{
  font-size: 4rem;
}

.sidebar-menu{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.menu-item{
  margin-top: 1.5rem;
  padding: .2rem;
}

.menu-item a{
  color: rgba(255, 255, 255, 0.751);
  text-decoration: none;
  font-size: 1rem;
}

.menu-item i{
  color: rgba(255, 255, 255, 0.751);
  margin: .1rem .5rem;
}
.collapsed-menu-item{
  align-self: center;
  margin-top: 1rem;
  padding: .2rem;
}
.collapsed-menu-item i{
  color: rgba(255, 255, 255, 0.751);
  margin: .1rem .5rem;
  font-size: 1.5rem ;
  cursor: pointer;
}
.active-menu-item{
  background-color: rgb(78, 78, 209);
  padding: 5px;
  border-radius: 5px;
}

.header-action-icon{
  font-size: 2.3rem;
  padding-left: 1.2rem;
  color: black;
  cursor: pointer;
}

.collapsed-icon{
  font-size: 2rem !important;
}
/* .header-action-icon:active{
  transform: rotate(-30deg);
  transition: transform ease-in-out;
} */




@media screen and (max-width: 900px) {
  .sidebar{
    min-width: 25%;
  }
  .collapsed-sidebar{
    min-width: 15%
  }
}
@media screen and (max-width: 780px) {
  .main{
    padding: .8rem;
  }
  .menu-item a{
    font-size: .8rem;
  }
  .collapsed-sidebar{
    min-width: 20%;
  }
  .sidebar-header h1{
    font-size: 3.2rem;
    padding: .3rem;
  }
  /* .header-action-icon{
    display: none;
  } */

}
.header-right{
  display: flex ;
  align-items: center ;
  justify-content: center ;
}
.header-user{
  color: black;
  text-decoration: underline;
  font-size: 1rem;
}
@media screen and (max-width: 650px) {
  .main{
    padding: .6rem;
  }
  /* .sidebar{
    display: none
  } */
  .menu-item{
    align-self: center;
    margin-top: 1rem;
    padding: .2rem;
    min-width: 20%;
  }
  .menu-item i{
    color: rgba(255, 255, 255, 0.751);
    margin: .1rem .5rem;
    font-size: 1.5rem ;
    cursor: pointer;
  }
  .menu-item a{
    display: none;
  }
  .collapsed-sidebar{
    display: none
  }
  .sidebar-header h1{
    font-size: 3.2rem;
    padding: .3rem;
  }
  
}
@media screen and (max-width: 520px) {
  .main{
    padding: .4rem;
  }
  .collapsed-sidebar{
    min-width: 20%;
  }
  .sidebar-header h1{
    font-size: 3rem;
    padding: .3rem;
  }
 
}